@import url(https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic);

:root{
  --blue: #0084ff;
  --charcoal: #303952;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #fa0000;
  border: 1px solid #fff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #fa0000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.capitalize {
  text-transform: capitalize;
}



header {
  padding: 15px;
  position: relative;
  top: 0;
  transition: .5s;
}

.theme-choose {
  position: absolute;
  top: 15px;
  left: 10px;
}

header h1 {
  font-family: 'Comic neue';
  text-align: center;
  width: fit-content;
  padding: 5px;
  margin: 0 auto 35px auto;
  font-size: 3em;
  color: #000;
}

#menu-icon {
  margin: 10px 0;
  float: left;
  cursor: pointer;
  height: 25px;
  width: 25px;
  text-align: center;
}

.compact {
  border-radius: 50%;
  padding: 5px;
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  width: 80%;
  color: #000;
}

.hide-nav-bar {
  animation: hide-nav-slide 1s ease-in-out;
  animation-fill-mode: forwards;
}

.show-nav-bar {
  animation: show-nav-slide 1s ease-in-out;
}

@keyframes hide-nav-slide {
  to{
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

@keyframes show-nav-slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    opacity: 1;
    visibility: none;
  }
}

#home-container {
  width: fit-content;
  max-width: 90%;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#home-container nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}


#stories-home-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}

#stories-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: 15px auto;
}

#icon-random {
  cursor: pointer;
}

#icon-random:hover {
  cursor: pointer;
  color: var(--blue);
}

#stories-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.center-loading {
  width: fit-content;
  margin: 0 auto;
}

.link-nav {
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  padding: 7px;
  margin: 5px 0;
  border-radius: 5px;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-bottom {
  box-shadow: 0px 2px 5px 0px #0000005e;
}

.link-nav:hover {
  box-shadow: inset 5px 4px 5px 2px  #0000002c; 
}

#search-bar {
  border: none;
  outline: none;
  min-width: 200px;
  height: 20px;
  margin: 25px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 5px;
  background: #1f1e1e;
  color: #fff;
}

.box-shadow-inset {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 95%;
  gap: 10px;
}

.card {
  border-radius: 10px;
  width: 15em;
  height: 20em;
  background-size: cover;
  position: relative;
  cursor: pointer;
  margin: 15px;
  animation: card-slide 1s;
  transition: .3s;
}

.card:hover {
  box-shadow: none;
}

@media (max-width: 700px) {
  .card {
    width: 8em;
    height: 12em;
  }
}

@keyframes card-slide {
  from {
    top: -50px;
    opacity: 0;
  }to{
    top: 0;
    opacity: 1;
  }
}

.card:hover {
  box-shadow: none;
}


.card h3 {
  padding: 5px;
  font-size: 1em;
  position: inherit;
  position: absolute;
  border-radius: 0 5px 5px 0;
  backdrop-filter: blur(50px);
  text-shadow: 1px 1px 3px #000;
  bottom: 0;
}

#more-cards {
  display: flex;
  width: 50px;
  margin: 0 auto;
}

#more-cards p {
  width: 30px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}


#go-top {
  background-color: var(--charcoal);
  border: 2px solid #fff;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#go-top a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.description {
  width: 65%;
  margin: 25px auto;
  text-align: center;
  font-size: 1.2em;
  position: relative;
}

.info-container {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 15px;
  width: 75%;
  margin: 30px auto;
  padding: 20px 20px;
  gap: 5em;
  height: fit-content;
  overflow-x: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #e6e6e6;
  color: #000000;
  justify-content: space-between;
  border: 2px solid #fff;
}

.info, .realisations {
  display: flex;
  flex-direction: column;
  width: 8em;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.info img, .realisations img {
  border-radius: 5px;
  transition: .3s;
}

.info img:hover, .realisations img:hover {
  box-shadow: none;
}

.info h3, .realisations h3 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 25ch;
}

.poster {
  width: 95%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
} 

.no-data {
  width: fit-content;
  height: fit-content;
  background-color: red;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

#comic-part {
  height: 100%;
}

#comic-part, #events-part, #series-part {
  padding: 15px;
}



#presentation {
  display: grid;
  grid-template-areas: 
  "h1 h1 h1"
  "img p p"
  "img p p"
  "img ul ul"
  "st st st"
  "lk lk sr"
  ;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 60%;
  margin: 25px auto;
  padding: 15px;
  max-height: fit-content;
  font-size: 1.3em;
  border-radius: 15px;
  color: #000;
  background: #202020;
}

@media (max-width: 865px) {
   #presentation {
    grid-template-areas: "h1" "img" "p" "ul" "st" "lk" "sr";
    grid-template-columns: 1fr;
    max-height: fit-content;
    width: 85%;
   }
}

@media (max-width: 1200px) {
   #presentation {
    width: 80%;
   }

   .stories-container {
    flex-wrap: wrap;
   }
}

.stories-container {
  display: flex;
  grid-area: st;
  flex-direction: row;
  justify-content: stretch;
  overflow-x: scroll;
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  box-shadow: 0 0 4px 2px #0000008b inset;
}

.stories-container .stories-card {
  width: fit-content;
  height: fit-content;
  font-size: 0.6em;
  margin: 15px 10px;
  padding: 0;
}

.comics-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

#presentation h1 {
  text-align: center;
  grid-area: h1;
  font-size: 1.2em;
  margin: 10px auto 5% auto;
  color: var(--blue);
  padding: 15px;
  min-width: 25%;
  text-shadow: 1px 2px 2px #000;
  border-bottom: 1px solid var(--blue);
  box-shadow: inset 0px -6px 6px 0px #0000006b;
}

#presentation-img {
  grid-area: img;
  margin: 0 auto;

}
#presentation-img img{
  width: auto;
  height: auto;
  max-height: 400px;
  min-width: 150px;
  max-width: 250px;
  /* border-radius: 15px; */
}

 .select-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  border-radius: 15px;
 }
 
 .selecter-images {
   color: #fff;
   margin: 0 5px;
   padding: 5px;
 }

 .selecter-images:hover {
  color: var(--blue);
  cursor: pointer;
 }

 .active-image {
  color: var(--blue);
 }

#more-info {
  grid-area: ul;
  color: #fff;
  list-style: none;
}


.role {
  font-size: 0.8em;
}

.role a {
  text-decoration: none;
  color: #fff;
}

#more-info a:hover {
  text-decoration: underline;
}

strong {
  color: var(--blue);
  font-size: 1.1em;
  letter-spacing: 0.15em;
}

#description {
  grid-area: p;
  color: #fff;
}

#before-after-series {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  padding: 5px;
  margin: 0 auto;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  width: fit-content;
  max-width: 80%;
  max-height: 450px;
  margin: 0 auto 25px auto;
  padding: 10px;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: inset 0 0 9px 0 #0000004a; 
  border: 2px solid #fff;
}

#characters .card {
  margin: 15px;
}

.rebrique-title {
  background-color: var(--charcoal);
  border-bottom: 2px solid var(--charcoal);
  border-radius: 5px 5px 0 0;
  height: max-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
}

.realisations-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: none;
  overflow-y: scroll;
  width: 80%;
  margin: 25px auto;
  justify-content: space-around;
  max-height: 450px;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid red;
  background-color: #1c1d20;
  color: #fff;
}


.realisations {
  width: 250px;
}

.title-realisations {
  padding: 5px;
  background-color: #ff0000;
  border: 2px solid #ffffff;
  border-radius: 5px;
  max-width: 120px;
  margin: auto;
  color: #fff;
}

#h1-realisation {
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
}

.more-data {
  width: 100%;
  height: fit-content;
  text-align: center;
}

.more-data p {
  background-color: #1c1d20;
  border: 2px solid #ff0000;
  max-width: 50px;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin: 15px auto;
  transition: .3s;
  color: #fff;
}


.icon-search {
  cursor: pointer;
  margin: 0 15px;
}

.search-bar-realisations {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.search-bar-realisations input {
  border-radius: 5px;
  outline: none;
  border: none;
}

.hidden { 
  visibility: hidden;
}


#top {
  display: flex;
  grid-area: h1;
  justify-content: space-between;
  align-items: center;
}

#top h1 {
  height: fit-content;
}

.arrows {
  cursor: pointer;
  color: #ff0000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}

.arrows:hover {
  transform: translateX(5px);
}


.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
  padding: 5px;
  width: fit-content;
}

.search-container *{
  width: fit-content;
  margin: 5px auto;
}

#check-reverse {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: .5s;
  background-color: #fff;
}

#check-reverse:hover {
   box-shadow: inset 5px 4px 5px 2px  #0000002c;
}

.checked::after {
  content: '✓';
}

.checked{ 
  box-shadow: inset 5px 4px 5px 2px  #0000002c;
}

#sort-type {
  outline: none;
  border: none;
  appearance: none;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

#sort-type:active, #sort-type:hover {
  box-shadow: inset 5px 4px 5px 2px  #0000002c;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container div *{
  margin: 0 5px;
}

.stories-card {
  background-color: #fff;
  color: #000;
  width: 250px;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 15px;
  transition: .3s;
  box-shadow: 8px 8px 0 1px #000;
}

.stories-card:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.stories-card h3 {
  text-align: center;
  padding: 10px;
}

a {
  appearance: none;
  text-decoration: none;
}

.container  {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  background-color: red;
  margin: auto;
}

.container .card{
  margin: 10px;
}

.series {
  width: 100%;
  height: fit-content;
  grid-area: sr;
  margin: auto;
  text-align: right;
  color: #fff;
}

#extern-links {
  grid-area: lk;
  display: flex;
  flex-direction: row;
  width: min-content;
  font-size: 0.8em;
  margin-top: 10px;
}

#extern-links a{
  text-decoration: none;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

#extern-links a:hover, .series:hover{
  text-decoration: underline;
  color: var(--blue);
}


.error {
  margin: 25px auto;
  color: #ff0000;
  text-align: center;
}